<div class="wrapper">

    <p class="subtitle">Why choose us</p>
    <h2>People choose us because we<br>serve the best for everyone</h2>
    <div class="dot-pattern"></div>
    <div class="container features">
        <div class="row">
            <div class="col feature">
                <div class="feature-icon-1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-person-circle" viewBox="0 0 16 16">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                        <path fill-rule="evenodd"
                            d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
                    </svg>
                </div>
                <div class="feature-content">
                    <h3>Dedicated project manager</h3>
                    <p>With lots of unique blocks, you can easily build a page without coding. Build your next landing
                        page.</p>
                </div>
            </div>
            <div class="col feature">
                <div class="feature-icon-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-file-text-fill" viewBox="0 0 16 16">
                        <path
                            d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2M5 4h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1 0-1m-.5 2.5A.5.5 0 0 1 5 6h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5M5 8h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1 0-1m0 2h3a.5.5 0 0 1 0 1H5a.5.5 0 0 1 0-1" />
                    </svg>
                </div>
                <div class="feature-content">
                    <h3>Organized tasks</h3>
                    <p>With lots of unique blocks, you can easily build a page without coding. Build your next landing
                        page.</p>
                </div>
            </div>
            <div class="w-100"></div>
            <div class="col feature">
                <div class="feature-icon-3">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-chat-square-text-fill" viewBox="0 0 16 16">
                        <path
                            d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2h-2.5a1 1 0 0 0-.8.4l-1.9 2.533a1 1 0 0 1-1.6 0L5.3 12.4a1 1 0 0 0-.8-.4H2a2 2 0 0 1-2-2zm3.5 1a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1zm0 2.5a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1zm0 2.5a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1z" />
                    </svg>
                </div>
                <div class="feature-content">
                    <h3>Easy feedback sharing</h3>
                    <p>With lots of unique blocks, you can easily build a page without coding. Build your next landing
                        page.</p>
                </div>
            </div>
            <div class="col feature">
                <div class="feature-icon-4">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-clock-fill" viewBox="0 0 16 16">
                        <path
                            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71z" />
                    </svg>
                </div>
                <div class="feature-content">
                    <h3>Never miss deadline</h3>
                    <p>With lots of unique blocks, you can easily build a page without coding. Build your next landing
                        page.</p>
                </div>
            </div>
        </div>
        <div class="row cta">
            <div class="col-8 cta-text">
                <h3>Ready to launch your next project?</h3>
                <p>With lots of unique blocks, you can easily build a page without coding. Build your next landing page.
                </p>
            </div>
            <div class="col-4">
                <button class="cta-button">Get started a project</button>

            </div>
        </div>
    </div>
</div>