<section class="clss">
    <div class="testimonial">
        <div class="slide">
            <p>
                “Simply the best. Better than all the rest. I’d recommend this product to beginners and advanced users.”
            </p>
            <img src="https://i.ibb.co/3m5x6B5/people6.jpg" alt="" class="image" />

            <div class="details">
                <span class="name">Isha Aiyappa</span>
                <span class="job">Web Developer</span>
            </div>
        </div>

    </div>
</section>