
<header>
    <div class="ripple-1"></div>
    <div class="ripple-2"></div>
    <div class="ripple-3"></div>
    <div class="ripple-4"></div>
    <div class="ripple-5"></div>
 
    
<div class="container">
    <div class="info-box">
        <p class="subtitle">OUR STORY</p>
        
   
            <div class="row">
              <div class="col-6 align-self-start">
                <h2>We know how everything works and why your business is failing over and over again.</h2>
                <br>
                <img src="./assets/images/specs.png" alt="Man with glasses" class="image-1">
              </div>
              <div class="col-4 align-self-center">
                <img src="./assets/images/confetti.png" alt="Woman with confetti" class="image-2">
                <div class="dot-pattern"></div>
                <p class="description">We share common trends and strategies for improving your rental income and making sure you stay in high demand. 
                    With lots of unique blocks, you can easily build a page without coding. Build your next landing page.</p>
              </div>
              <div class="col-2">
                <img src="./assets/images/candy.png" alt="Person with butterflies" class="image-3">
              </div>
            </div>



        <div class="row stats">
            <div class="col-sm stat">
                <div class="stat-value">1M+</div>
                <div class="stat-label">Customers visit Omega every month to get their service done.</div>
            </div>
            <div class="col-sm stat">
                <div class="stat-value">92%</div>
                <div class="stat-label">Satisfaction rate comes from our awesome customers.</div>
            </div>
            <div class="col-sm stat">
                <div class="stat-value">4.9/5.0</div>
                <div class="stat-label">Average customer ratings we have got all over internet.</div>
            </div>
        </div>
    </div>
</div>

</header>