body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f0f0f0;
}
.container {
    max-width: 1110px;
    margin: 0 auto;
    position: relative;
}
.info-box {
    padding: 30px;
    position: relative;
}
.info-box h2 {
    font-size: 24px;
    margin-bottom: 20px;
    max-width: 60%;
    color: #020147;
}
.subtitle {
    color: #ff4d4d;
    font-size: 0.7rem;
    font-weight: bold;
    margin-bottom: 1rem;
    flex-wrap: wrap;
    justify-content: space-between;
}
.image-1 {
    grid-row: 1 / 3;
    display: grid;
    width: 70%;
    height: auto;
    margin-top: 40px;
}
.image-2 {
    grid-row: 2 / 3;
    display: grid;
    width: 70%;
    height: auto;
    margin-bottom: 70px;
}
.image-3{
    grid-row: 3 / 3;
    display: grid;
    width: 65%;
    height: auto;
    margin-top: 170px;
    margin-right: 50px;
}
.dot-pattern {
    position: absolute;
    top: 130px;
    width: 100px;
    height: 100px;
    margin-left: 165px;
    background-image: radial-gradient(#333 1px, transparent 1px);
    background-size: 10px 10px;
    clip-path: circle();
}
.description {
    grid-column: 2;
    font-size: 14px;
    color: #333333;
}
.stats {
    display: flex;
    justify-content: center;
    margin: 40px;
    text-align: center;
    height: auto;
}
.stat {
    width: 80px;
    height: 86px;
    line-height: 30px;
    margin-top: 40px;
}
.stat-value {
    font-size: 24px;
    font-weight: bold;
    color: #020147;
}
.stat-label {
    font-size: 14px;
    color: #333333;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  @import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root{
    font-family: "open sans", sans-serif; 
  }
  
  header{
    min-height: 100vh;
    background-color: #42A5F5;
    position: relative;
    overflow: hidden;
  }
  
  .ripple-1,
  .ripple-2,
  .ripple-3,
  .ripple-4,
  .ripple-5{
    height: 1px;
    width: 1px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #fff;
    border-radius: 50%;
    transform: translate3d(-50%, 50%, 0);
    animation-name: ripple;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    will-change: transform, opacity;
  }
  
  .ripple-1{
    animation-delay: 0;
  }
  
  .ripple-2{
    animation-delay: 1s;
  }
  
  .ripple-3{
    animation-delay: 2s;
  }
  
  .ripple-4{
    animation-delay: 3s;
  }
  
  .ripple-4{
    animation-delay: 4s;
  }
  
  .ripple-5{
    animation-delay: 5s;
  }
  
  main{
    height: 4000px;
    background-color: #f7f7f7;
  }
  
  @keyframes ripple{
    0%{
      transform: translate3d(-50%, 50%, 0) scale(0);
      opacity: .33;
    }
    100%{
      transform: translate3d(-50%, 50%, 0) scale(2000);
      opacity: 0;
    }
  }