
    <nav class="navbar navbar-expand-lg bg-body-tertiary">

        <ul>
          <li class="logo"><h1>Brainwave.io</h1></li>
          <li class="link"><a routerLink="/" routerLinkActive="active">Demos </a></li>
          <li class="link"><a routerLink="/" routerLinkActive="active">Pages</a></li>
          <li class="link"><a routerLink="/" routerLinkActive="active">Support </a></li>
          <li class="link"><a [routerLink]="['/contact']" routerLinkActive="active">Contact</a></li>
          <button type="button" class="btn btn-primary RbtnMargin">Get Started a Project</button>
        </ul>

      </nav>
