
<section class="hero">
<div class="flex-container">
    <div class="flex-box-1">
        <p class="subtitle">LET'S SHIFT YOUR BUSINESS</p>
                    <h2 bold>Shift your business fast with Shade Pro.</h2>
                    <p class="description">
                        With lots of unique blocks, you can easily build a page without coding. Build your next
                        consultancy website within few minutes.
                    </p>
                    <button class="btn btn-primary cta-button">Get started a project</button>
    </div>
    <div class="flex-box-2">
        <div class="hero-image">
            <img src="./assets/images/girl.png" alt="Smiling woman">
            <div class="dot-pattern"></div>
            <div class="curved-line"></div>
        </div>
    </div>
</div>
</section>
