* {
    margin: 0;
    padding: 0;
}

.flex-container {
    height: auto;
    display: flex;
    margin: 100px;
}

.flex-box-1 {
    width: 480px;
    height: 286px;
    line-height: 25px;
    top: 219px;
    bottom: 244px;
    margin-left: 100px;
    margin-top: 40px;
}

.flex-box-2 {
    width: 400px;
    height: 472px;
    line-height: 25px;
    top: 161px;
    bottom: 892px;
    margin-left: 200px;
}

.subtitle {
    color: #ff4d4d;
    font-size: 0.75rem;
    font-weight: bold;
    margin-bottom: 1rem;
    flex-wrap: wrap;
    justify-content: space-between;
}

.description {
    color: #666;
    margin-bottom: 2rem;
}

.cta-button {
    border: none;
    padding: 0.8rem 1.5rem;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}

img {
    width: 75%;
    height: 75%;
    margin-top: 100px;
    object-fit: cover;
    clip-path: circle();
}

.dot-pattern {
    position: absolute;
    top: 170px;
    width: 100px;
    height: 100px;
    background-image: radial-gradient(#333 1px, transparent 1px);
    background-size: 10px 10px;
    clip-path: circle();
}